


.slogan font {
  color: #CCCCCC  
}

#holder {
  border: 10px dashed #ccc;
  width:  400px;
  height: 400px;
  margin: 20px auto 0px;
  float: left;
  margin-left: 45px;
}

#holder_result {
  border: 10px dashed #ccc;
  width: 400px;
  height: 400px;
  margin: 20px auto 0px;
  float: right;
  margin-right: 30px;
}
#holder.is_hover {
  border: 10px dashed #333;
}

h1 {
  padding-top: 5px;
}
h2 {
  font-size: 100%;
  font-style: italic;
}

footer>* {
  margin: 5px;
  font-size: 11px;
}
footer {
  padding:0px 0px 0px 20px;
  text-align:right;
}
#holder_helper h2 {
  font-size: 40px;
  color: #efefef;
  padding: 20px;
  margin-top: 40px;
  line-height: 60px;
  text-align: center;
}

#github_widget {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 0px;
}
#controls-wrapper {
  margin: 0px 20px;
}

#jpeg_encode_quality {
  width: 25px;
}

legend {
  font-weight: bold;
}
.col {
  width: 350px;
  margin-top: 0px !important;
}
#left-col {
  float: left;
}
#right-col {
  float: right;
}
.clear {
  clear: both;
}
legend {
  border-bottom: 0px !Important;
}
#console_out {
  overflow: auto;
  width: 1120px;
  height: 90px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding: 10px;
  font-family: Courier;
  margin-bottom: 35px;
}

.img_container { 
                 border: 0px;
                 display:none;
                 margin:auto;

}